@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Quicksand:wght@400;500&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para box model */
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.875rem; /* 1rem = 10px */
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
    background-color: #efeee9;
    line-height: 1.5;
    font-weight: 400;
    color: #777b52;
    //color: #AD3D20;

}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 3.1rem;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    color: #AD3D20;
    position: absolute;
    left: calc(50% - 11rem);
    top: 6rem;
}

h2 {
    font-size: 3.4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    font-size: 2.9rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: .5rem;
}

h4 {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 700;
}

p {
    margin-bottom: .5rem;
}

//nav-bar 2.6
