<div id="hero" class="hero">
  <div class="video">
    <video
      loop
      muted
      autoplay
      playsinline
      type="video/mp4"
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
    >
      <source src="./assets/video/video cabecera.mp4" />
    </video>

    <!-- <div class="d-flex justify-content-center">
      <h1>¡Nos Casamos!</h1>
    </div> -->

    <div class="gradient"></div>
  </div>
</div>

<div class="container">
  <div class="evento d-flex flex-column justify-content-around">
    <div>
      <h4 class="mt-5">
        ¡Y queremos que nos acompañes
        <br />en este día tan especial!
      </h4>

      <div class="separador d-flex justify-content-center w-100 my-5">
        <img src="./assets/images/separador.png" class="mx-auto" />
      </div>
    </div>

    <div
      id="evento"
      class="d-flex flex-column flex-md-row gap-3 mb-0 mb-md-5 justify-content-center py-3"
    >
      <div
        class="col-12 col-md-6 d-flex flex-column justify-content-center sarasa"
      >
        <div class="d-flex flex-column align-items-center">
          <h2>El evento</h2>
          <img src="./assets/images/decoracion.png" class="decoracion" />
        </div>

        <div class="d-flex flex-column align-items-center">
          <img src="./assets/images/calendar.png" class="calendar mb-3" />
          <p>23 de diciembre de 2022</p>
          <h3>19:00HS</h3>
          <img src="./assets/images/separador-rojo.png" class="sep-rojo mb-4" />
        </div>

        <div class="d-flex flex-column align-items-center">
          <p class="aqui">Agendalo en tu calendario</p>
          <a
            target="_blank"
            href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MmU3ajI1MXBrYXR2bWFhbDZjZXJjbmR2cHMgam9hcXVpbm1vdXhhdXRAbQ&amp;tmsrc=joaquinmouxaut%40gmail.com"
          >
            <img src="./assets/images/aqui.png" class="boton mx-auto" />
          </a>
        </div>
      </div>

      <div
        class="col-12 col-md-6 d-flex flex-column justify-content-center w-auto"
      >
        <div
          class="contenedor-foto d-flex flex-column justify-content-center align-items-center w-auto"
        >
          <img src="./assets/images/elEvento.png" class="foto m-0" />
        </div>

        <div
          *ngIf="width <= 576"
          class="separador d-flex justify-content-center w-100 my-5"
        >
          <img src="./assets/images/separador.png" class="mx-auto" />
        </div>
      </div>
    </div>

    <div
      class="d-flex flex-column flex-md-row-reverse gap-3 justify-content-center"
    >
      <div
        class="col-12 col-md-6 d-flex flex-column justify-content-center sarasa fit"
      >
        <div class="d-flex flex-column align-items-center">
          <h2>El civil</h2>
          <img src="./assets/images/decoracion.png" class="decoracion" />
        </div>

        <div class="d-flex flex-column align-items-center">
          <img src="./assets/images/anillos.png" class="anillos mb-3" />
          <p>23 de diciembre de 2022</p>
          <h3>20:00HS</h3>
          <img src="./assets/images/separador-rojo.png" class="sep-rojo mb-4" />
        </div>
      </div>

      <div
        class="col-12 col-md-6 d-flex flex-column justify-content-center w-auto fit"
      >
        <div
          class="contenedor-foto d-flex flex-column justify-content-center align-items-center"
        >
          <img src="./assets/images/elcivil.jpg" class="foto m-0" />
        </div>

        <div
          *ngIf="width <= 576"
          class="separador d-flex justify-content-center w-100 my-5"
        >
          <img src="./assets/images/separador.png" class="mx-auto" />
        </div>
      </div>
    </div>

    <div
      *ngIf="width > 576"
      class="separador d-flex justify-content-center w-100 my-5"
    >
      <img src="./assets/images/separador.png" class="mx-auto" />
    </div>
  </div>

  <div>
    <div class="sep d-flex justify-content-center">
      <img src="./assets/images/collage.png" class="mx-auto" />
    </div>

    <div class="separador d-flex justify-content-center w-100 my-5">
      <img src="./assets/images/separador.png" class="mx-auto" />
    </div>

    <div
      id="lugar"
      class="lugar py-3 d-flex flex-column justify-content-around"
    >
      <div>
        <div class="d-flex flex-column align-items-center">
          <h2>El lugar</h2>
          <img src="./assets/images/decoracion.png" class="decoracion" />
        </div>

        <div class="d-flex flex-column align-items-center">
          <img src="./assets/images/ubicacion.png" class="ubicacion mb-3" />
          <p class="estancia">Estancia Victoria</p>
          <p class="ruta">Ruta E54 Km 1.5</p>
          <p class="camino">Camino al Cerro Pan de Azucar</p>
          <p class="villa">Villa Allende - Córdoba</p>
        </div>
      </div>

      <div class="cont-foto d-flex justify-content-center my-4">
        <div class="top-gradient"></div>
        <img src="./assets/images/fotoEstancia.jpeg" class="fotoEstancia" />

        <div class="d-flex justify-content-center mapa">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>

        <div class="gradient"></div>
      </div>
    </div>

    <div class="separador d-flex justify-content-center w-100 my-5">
      <img src="./assets/images/separador.png" class="mx-auto" />
    </div>

    <div
      class="final d-flex flex-column align-items-center justify-content-around mb-5"
    >
      <div>
        <div class="d-flex flex-column align-items-center">
          <h2>¿Nos acompañas?</h2>
          <h4 class="mb-5">
            Te agradeceríamos si nos confirmas
            <br *ngIf="width > 576"/>antes del 10 de diciembre.
          </h4>
          <a
            target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSd1ACDD3ESQxawvFu1byAyZ1Gw2HQSnOi4e1WMcKF98tRBofw/viewform?usp=pp_url"
          >
            <img src="./assets/images/aqui.png" class="boton mx-auto" />
          </a>
        </div>
      </div>

      <div class="separador d-flex justify-content-center w-100 my-5">
        <img src="./assets/images/separador.png" class="mx-auto" />
      </div>

      <div class="row">
        <!-- <div class="d-flex flex-column align-items-center mb-3">
          <h3>
            No hay mejor regalo que tu
            <br *ngIf="width > 576"/>presencia en este día tan especial.
          </h3>
        </div> -->

        <div class="d-flex flex-column align-items-center">
          <h4>
            Si queres darnos un regalo para esta nueva            
            <br *ngIf="width > 576"/>etapa que comienza, aquí te dejamos los datos.
          </h4>
        </div>
      </div>

      <div class="d-flex flex-column align-items-center">
        <h2>Cuentas en Pesos y Dólares</h2>
        <img src="./assets/images/decoracion.png" class="decoracion" />
        <p class="cbu">CBU: 83 0049 0791 6927 1119 0828</p>
        <p class="cbu">Alias: CANDE.RAMI.2312</p>
        <img src="./assets/images/copas.png" class="copas mx-auto mt-4" />
      </div>
    </div>
  </div>
</div>
