.hero {
  height: 100vh;

  .video {
    position: relative;
    height: 80%;
    width: 100%;
    z-index: -1;

    video {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .title {
    width: 100%;
    position: absolute;
    bottom: 10rem;

    img {
      width: 70%;
    }
  }

  .gradient {
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: -1px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,efeee9+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(239, 238, 233, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(239, 238, 233, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(239, 238, 233, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#efeee9', GradientType=0);
    /* IE6-9 */
  }

  h4 {
    margin-top: 4rem;
  }

  .separador {
    position: absolute;
    bottom: 0.25rem;
    width: fit-content;

    img {
      height: unset;
      position: unset;
      width: 50%;
    }
  }

}

.sep {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;

  img {
    height: unset;
    position: unset;
    width: 50%;
  }
}

.decoracion {
  width: 8rem;
}

.container {
  margin-top: 5rem;

  .evento {
    margin-top: 4rem;
    padding: 1rem 0;
    height: 100vh;

    .calendar {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      width: 3rem;
    }

    p {
      text-transform: uppercase;
    }

    .img {
      height: 5.8rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    .horario {
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .sep-rojo {
      object-fit: none;
      width: 5rem;
    }

    .anillos {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      width: 5rem;
    }


  }

  .separador {
    width: fit-content;
    margin-top: -3rem;
  }

  .cont-foto {
    img {
      margin: 1rem 0 2rem 0;
      width: 90%;
      height: 12rem;      
      object-fit: cover;
      object-position: center center;
    }
  }

  .lugar {
    margin-top: 4rem;
    padding-top: 1rem;
    height: 100vh;

    p {
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }

    .estancia {
        font-size: 2rem;
    }

    .ruta {
        font-size: 1.6rem;
        color: #AD3D20;
    }

    .camino {
        font-size: 1.3rem;
        color: #AD3D20;
    }

    .villa {
        font-size: 1.3rem;
    }

    .ubicacion {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      height: 3rem;
    }

    .separador {
      margin-top: 10rem;
    }

    .fotoEstancia {
        width: 95%;
        height: 20rem;
        object-fit: cover;
        object-position: center center;
    }
  }
}

::ng-deep agm-map {
  width: 80%;
  height: 18rem;
  border: 2px solid #AD3D20;
  margin-bottom: 3rem;

  .agm-map-container-inner {
    
    width: calc(100% - 2px) !important;
    height: calc(100% - 2px) !important;
  }
}
