@import '/src/assets/styles/mixins';

.hero {
  height: 100vh;

  .video {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -1;

    video {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
      object-position: top;
    }
  }

  .title {
    width: 100%;
    position: absolute;
    bottom: 10rem;

    img {
      width: 70%;

      @include tablet {
        width: 40rem;
      }
    }
  }

  h4 {
    margin-top: 4rem;
  }



}

.separador {
  bottom: 0.25rem;
  width: fit-content;

  img {
    height: unset;
    position: unset;
    width: 50%;
  }
}

.gradient {
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: -1px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,efeee9+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(239, 238, 233, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(239, 238, 233, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(239, 238, 233, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#efeee9', GradientType=0);
  /* IE6-9 */
}

.top-gradient {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  z-index: 10;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efeee9+0,7db9e8+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(239, 238, 233, 1) 0%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(239, 238, 233, 1) 0%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(239, 238, 233, 1) 0%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}

.contenedor-foto {
  height: fit-content;

  img {
    margin: 0;
    width: 75%;
    height: 11rem;
    object-fit: cover;
    object-position: center center;

    @include tablet {
      width: 30rem;
      height: 20rem;
    }
  }
}

.sep {
  width: 100%;

  img {
    height: unset;
    position: unset;
    width: 80%;

    @include tablet {
      width: 50%;
    }
  }
}

.decoracion {
  width: 8rem;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 120rem;

  .evento {
    min-height: 100vh;

    .sarasa {
      @include tablet {
        width: 30rem;
      }
    }

    .calendar {
      width: 3rem;
    }

    p {
      text-transform: uppercase;
    }

    .img {
      height: 5.8rem;
    }

    .sep-rojo {
      object-fit: none;
      width: 5rem;
    }

    .anillos {
      width: 5rem;
    }
  }

  .separador {
    width: fit-content;
  }

  .cont-foto {
    position: relative;

    @include tablet {
      height: 40rem;
    }


    img {
      margin: 0;
      width: 75%;
      height: 11rem;
      object-fit: cover;
      object-position: center center;

      @include tablet {
        width: 30rem;
        height: 20rem;
      }
    }
  }

  .lugar {

    p {
      font-family: 'Quicksand', sans-serif;
      text-transform: uppercase;
      margin-bottom: .5rem;
    }

    .estancia {
      font-size: 2rem;
    }

    .ruta {
      font-size: 1.6rem;
      color: #AD3D20;
    }

    .camino {
      font-size: 1.3rem;
      color: #AD3D20;
    }

    .villa {
      font-size: 1.3rem;
    }

    .ubicacion {
      height: 3rem;
    }

    .separador {
      margin-top: 10rem;
    }

    .fotoEstancia {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;

      @include tablet {
        height: 100%;
      }
    }

    .mapa {
      height: 80%;
      top: 10%;
      width: 90%;
      right: 5%;
      position: absolute;

      @include tablet {   
        height: 90%;     
        width: 80%;
        top: 5%;
        right: 10%;
      }
    }


  }
}

::ng-deep agm-map {
  width: 100%;
  height: 100%;
  border: 2px solid #AD3D20;
  margin-bottom: 3rem;

  .agm-map-container-inner {

    width: calc(100% - 0px) !important;
    height: calc(100% - 0px) !important;
  }
}

.final {

  h4 {
    font-family: 'Quicksand', sans-serif;
  }

  h3 {
    font-family: 'Abhaya Libre', serif;
  }

  .aqui {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
  }

  .boton {
    height: 2.5rem;
    cursor: pointer;
  }

  .cbu {
    font-family: 'Quicksand', sans-serif;
    color: #AD3D20;
  }

  .copas {
    height: 8rem;
  }
}
